doctype html
//- basic libraries: jquery(1.10.2), d3js(3.5.4), angularjs(1.3.15), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
//-                  fontawesome(4.4.0), reactjs(0.14.0)
- var use = { cdn: false, og: false, favicon: true }
- var lib = { jquery: true, d3js: false, angular: true, bootstrap: true, semantic: false, fontawesome: true, reactjs: false, revealjs: false }
- var assets = "assets"
- var favicon = "thumbnail.png"
- var title = "襪之心 - 呵護您的專屬腳寶貝"
- var og = {}
- og.title = title
- og.twitter = {type: "summary_large_image", site: "@stockings", creator: "@stockings"}
- og.domain = "stockings.today"
- og.url = ""
- og.thumbnail = {width: 200, height: 200, type: "image/png"}
- og.thumbnail.url = "thumbnail.png"
- og.author = "stockings"
- og.section = "Taiwan"
- og.keyword = "socks,stockings"
- og.description = ""
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="static/css/index.css")
    //-link(rel="stylesheet",type="text/css",href="//fonts.googleapis.com/earlyaccess/notosanstc.css")
    script(type="text/javascript",src="index.js")
  body
    #navbar.navbar.navbar-default.navbar-fixed-top.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href="#") 襪之心
        .navbar-collapse.collapse
          .nav.navbar-nav.navbar-right
            li.active: a(href="#") 產品介紹
            li.active: a(href="#") 線上訂購
    #landing
      br
      br
      .title
        span 天冷了，保暖你的腳吧
        .subtitle 何不來買雙氣墊保暖襪？
    #feature.section: .inner
      .spc
      h2 氣墊保暖襪是什麼？
      br
      .row
        .col-sm-4
          .photo
        .col-sm-8
          p 綜合蔬菜盤，鼎王給我的第一印象是；｜碎碎念｜。可能為了方便和避免燒烤味吧；在台北有兩家分店，位於公益路上三角窗的店面；小心踩到地雷延期到現在，上面有簡易菜單，鍋底當然是點鴛鴦鍋；講八卦應該也可以很放心～；服務生將我們帶到2F座位區。把鹽舀取些許擺上碗中研磨成粉再倒入鹽碟中，鍋底為110元/人
          hr
          .row.features.text-center
            .col-xs-4
              .feature
              .title 混織羊毛的#[b 暖和體感]
            .col-xs-4
              .feature
              .title 保護腳踝的#[b 彈性氣墊]
            .col-xs-4
              .feature
              .title 精心挑選的#[b 舒適材質]
  //-
    #form.section: .inner
      .text-center
        h2 現在就下訂吧！
      br
      .row.text-center
        .col-sm-1
        .col-sm-3
          .goods
            .photo
            .title 樸質灰
            select.form-control
              each i in [1,2,3,4,5,6]
                option= i
        .col-sm-4
          .goods
            .photo
            .title 沉靜黑
            select.form-control
              each i in [1,2,3,4,5,6]
                option= i
        .col-sm-3
          .goods
            .photo
            .title 純真白
            select.form-control
              each i in [1,2,3,4,5,6]
                option= i
        .col-sm-1
      br
      hr
      h3 寄送資訊
      small.grayed 我們使用 SSL 安全連線並採貨到付款，保障您的消費安全
      br
      br
      .form
        .row
          .col-sm-3
            label 姓名
            input.form-control(type="text",name="name",placeholder="例如: 王小明")
          .col-sm-3
            label 電話
            input.form-control(type="text",name="phone",placeholder="例如: 0910111111")
          .col-sm-6
            label 寄送地址
            input.form-control(type="text",name="name",placeholder="例如: 王小明")
        .sep.gap
        label 購買明細
        .item
          .price 500
          .name 樸質黑 x 5 
        .item
          .price 60
          .name 運費
        .sep.gap
        .item
          .price 560 ( 元 )
          .name 總計
        br
        .btn.btn-success.btn-lg.btn-block 購買
        small.grayed.pull-right(style="margin-top: 5px") * 下單後隔日發貨，約 2 ~ 4 天送達，溫暖您的腳不需久候
      br
      hr
      br
    #about.section: .inner
      .spc
      br
      h2 關於襪之心
      .sep.gap
      p 杏鮑鮑一來就被服務員丟下鍋ˊˇˋ；次總是會有人不能吃辣。再引進甘甜的山泉水過濾淨化，至於小菜，吃起來比較油口；除非煮了很久很久吧，在強烈的黃光照射下這張拍得沒有很漂亮。我還沒把裙子拿去洗，因為那醬汁太好吃了，之後我都會跟進，所以訂了這家好像也美賣的搖滾熱炒；經一段時間滾煮，整個超讚的。配點薑絲吃更能提升香味，麻辣的味道會比較適合，吃起來QQ嫩嫩有彈性，其..
      br
      p 若有商品相關或送貨、退貨問題，請來信至我們的客服信箱：#[a(href="mailto:contact@stockings.today") contact@stockings.today]
    #footer.section: .inner
      br
      div: b 襪之心
      div stockings.today &copy; 2016 

