html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
html.wf-active .font {
  font-family: 'Noto Sans TC', sans-serif;
}
html.wf-active-later {
  font-family: 'Noto Sans TC', sans-serif;
}
html.wf-active-later h1,
html.wf-active-later h2,
html.wf-active-later h3,
html.wf-active-later h4,
html.wf-active-later h5,
html.wf-active-later h6,
html.wf-active-later p,
html.wf-active-later .section,
html.wf-active-later .title {
  font-family: 'Noto Sans TC', sans-serif;
}
.loader {
  visibility: hidden;
}
.loader.visible {
  visibility: visible;
}
.form-control-feedback {
  margin: -24px 10px 0 0;
  color: #900;
  float: right;
  font-size: 12px;
}
.text-error {
  color: #900;
}
h2 {
  margin: 20px;
  border-bottom: 4px solid #f42;
  display: inline-block;
  padding-bottom: 5px;
}
.a-offset {
  visibility: hidden;
  position: absolute;
  margin-top: -55px;
}
.tiny {
  font-size: 0.6em;
}
.grayed {
  color: #999;
}
.sep {
  width: 100%;
  height: 0px;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}
.sep.gap {
  margin: 20px 0;
}
.sep.wide-gap {
  margin: 30px 0;
}
.spc {
  width: 0px;
  height: 1px;
  overflow: hidden;
}
.spc:after {
  content: " ";
  display: inline;
}
.section {
  margin: auto;
}
.inner {
  max-width: 960px;
  margin: auto;
}
#form {
  width: 100%;
  min-height: 500px;
  background: #fff;
}
#form .form {
  max-width: 960px;
  margin: auto;
}
#about {
  width: 100%;
  min-height: 400px;
  background: #f9f9f9;
}
#footer {
  width: 100%;
  min-height: 100px;
  background: #555;
  color: #eee;
  font-size: 14px;
  font-weight: 200;
}
#footer b {
  font-weight: 500;
}
.goods .photo {
  width: 200px;
  height: 200px;
  background: #eee;
  border-radius: 10px;
  margin: auto;
}
.goods .title {
  font-size: 1.2em;
  font-weight: 700;
  margin: 5px;
}
.goods .price {
  font-size: 0.8em;
  color: #777;
  margin-top: -10px;
  margin-bottom: 5px;
  font-weight: 100;
}
.goods select {
  width: 200px;
  margin: auto;
}
@media (max-width: 768px) {
  .goods .photo {
    width: 100%;
  }
}
.item .price {
  float: right;
}
.navbar-brand img {
  vertical-align: bottom;
  margin-right: 5px;
}
 {
  width: 100%;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
#landing {
  width: 100%;
  height: 100%;
  background: url("/img/landing/compare.jpg") 50% 86% #fff no-repeat;
  position: relative;
}
#landing .title {
  position: absolute;
  width: 100%;
  top: 28%;
  left: 0;
  margin: -50px 0 0;
  color: #444;
  text-align: center;
  font-size: 3em;
}
#landing .title .subtitle {
  font-size: 0.5em;
}
#landing .title .desc {
  font-size: 0.25em;
  font-weight: 100;
  width: 320px;
  margin: 50px auto;
  opacity: 0.85;
  padding: 5px;
  background: rgba(255,255,255,0.8);
  border-radius: 10px;
}
#landing .fa.fa-chevron-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  font-size: 64px;
  color: #444;
  margin: -32px 0 0 -32px;
  -ms-animation: blink 0.8s infinite linear;
  -moz-animation: blink 0.8s infinite linear;
  -webkit-animation: blink 0.8s infinite linear;
  -o-animation: blink 0.8s infinite linear;
  animation: blink 0.8s infinite linear;
  text-decoration: none;
}
@media (max-width: 800px) {
  #landing {
    background-size: 800px;
    background-position: 0% 86%;
  }
  #landing .title {
    font-size: 2em;
  }
  #landing .title .subtitle {
    font-size: 0.6em;
  }
  #landing .title .desc {
    font-size: 0.4em;
  }
}
@media (max-width: 480px) {
  #landing .title {
    font-size: 1.5em;
  }
  #landing .title .subtitle {
    font-size: 0.6em;
  }
  #landing .title .desc {
    font-size: 0.45em;
  }
  #landing .fa.fa-chevron-down {
    font-size: 32px;
    margin: -16px 0 0 -16px;
  }
}
@media (max-height: 500px) {
  #landing {
    background-position: 10% 90%;
  }
  #landing .title {
    margin-top: -60px;
  }
  #landing .title .desc {
    margin-top: 20px;
  }
  #landing .fa.fa-chevron-down {
    font-size: 32px;
    margin: -16px 0 0 -16px;
    bottom: 10px;
  }
}
#feature {
  border-top: 12px solid #444;
  border-bottom: 2px solid #ccc;
  width: 100%;
  min-height: 450px;
  background: #f5f5f5;
}
#feature .row {
  margin: 0;
}
#feature .photo {
  width: 260px;
  height: 300px;
  background: #ddd;
  border-radius: 20px;
  margin: auto;
  box-shadow: 0 4px 0 0px #999;
  background-size: cover;
  background-position: 20% 50%;
}
#feature .features {
  font-size: 0.8em;
}
#feature .features .feature {
  width: 100%;
  height: 165px;
  background: #ddd;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 0 0px #999;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 768px) {
  #feature .photo {
    width: 90%;
    margin: auto;
    height: 240px;
    margin-bottom: 20px;
  }
  #feature h2 {
    text-align: center;
    display: block;
  }
}
@media (max-width: 480px) {
  #feature .photo {
    width: 100%;
    border-radius: 0;
  }
  #feature .row .col-sm-8 {
    padding: 0;
  }
  #feature .row .col-sm-8 p {
    margin: 0 10px;
  }
  #feature .row .col-sm-4 {
    padding: 0;
  }
  #feature .row .col-xs-4 {
    padding: 0;
  }
  #feature .row .col-xs-4 .feature {
    width: 100%;
    border-radius: 0;
  }
  #feature .row .col-xs-4 b {
    display: block;
  }
}
#form .row {
  margin: 0;
}
#form .row .photo {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fff;
}
#form .form {
  margin: 10px;
}
#form .form .inner {
  position: relative;
  background: #f5f5f5;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 3px 8px 10px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}
#form .form .inner h3 {
  margin: 5px 0 3px;
}
#form .form .inner .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 9;
  border-radius: 3px;
}
#form .form label {
  font-size: 16px;
}
@media (max-width: 768px) {
  #form .form .col-sm-3,
  #form .form .col-sm-6 {
    padding: 0;
  }
  #form .choices.row .col-sm-3,
  #form .choices.row .col-sm-4 {
    border-top: 1px solid #eee;
    padding: 10px 10px 35px;
  }
  #form .choices.row .col-sm-1:last-child {
    border-bottom: 1px solid #eee;
  }
}
@media (max-width: 768px) {
  #form .sep.wide-gap {
    display: none;
  }
}
#footer .inner {
  padding: 10px;
}
#footer .inner a {
  color: #fff;
}
