@import 'vars'
@import 'basic'

#feature
  .row
    margin: 0

  width: 100%
  min-height: 450px
  background: #f5f5f5
  .photo
    width: 260px
    height: 300px
    background: #ddd
    border-radius: 20px
    margin: auto
    box-shadow: 0 4px 0 0px #999
  .features
    font-size: 0.8em
    .feature
      width: 120px
      height: 115px
      background: #ddd
      margin: auto
      border-radius: 10px
      margin-bottom: 10px
      box-shadow: 0 4px 0 0px #999

@media (max-width: 768px)
  #feature
    .photo
      width: 90%
      margin: auto
      height: 240px
      margin-bottom: 20px
    h2
      text-align: center
      display: block

@media (max-width: 480px)
  #feature
    .photo
      width: 100%
      border-radius: 0
    .row .col-sm-4
      padding: 0
    .row .col-xs-4
      padding: 0
      .feature
        width: 110px
      b
        display: block

@media (max-width: 440px)
  #feature
    .row .col-xs-4
      .feature
        width: 100px
