@import 'vars'
@import 'basic'

+keyframes(blink)
  0%
    opacity: 1
  100%
    opacity: 0.3
#landing
  width: 100%
  height: 100%
  background: url(/img/landing/compare.jpg) 50% 86% #fff no-repeat
  position: relative
  .title
    position: absolute
    width: 100%
    top: 28%
    left: 0
    margin: -50px 0 0
    color: #444
    text-align: center
    font-size: 3em
    .subtitle
      font-size: 0.5em
    .desc
      font-size: 0.25em
      font-weight: 100
      width: 320px
      margin: 50px auto
      opacity: 0.85
      padding: 5px
      background: rgba(255,255,255,0.8)
      border-radius: 10px
  .fa.fa-chevron-down
    position: absolute
    bottom: 20px
    left: 50%
    font-size: 64px
    color: #444
    margin: -32px 0 0 -32px
    animation(blink 0.8s infinite linear)
    text-decoration: none

@media(max-width: 800px)
  #landing
    background-size: 800px
    background-position: 0% 86%
    .title
      font-size: 2em
      .subtitle
        font-size: 0.6em
      .desc
        font-size: 0.4em
@media(max-width: 480px)
  #landing
    .title
      font-size: 1.5em
      .subtitle
        font-size: 0.6em
      .desc
        font-size: 0.45em
    .fa.fa-chevron-down
      font-size: 32px
      margin: -16px 0 0 -16px

@media(max-height: 500px)
  #landing
    background-position: 10% 90%
    .title
      margin-top: -60px
      .desc
        margin-top: 20px
    .fa.fa-chevron-down
      font-size: 32px
      margin: -16px 0 0 -16px
      bottom: 10px
